.firstcard{
    position: absolute;
    left: 115px;
    top: 420px;
}
.secondcard{
    position: absolute;
    left: 405px;
    top: 420px;
}
.thirdcard{
    position: absolute;
    right: 405px;
    top: 420px;
}
.fourthcard{
    position: absolute;
    right: 115px;
    top: 420px;
}
#allcards{
    height: 520px;
}